<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center">
    <font color="f1f5f7">
    <% if(show){ %>
    <h1 style="color: rgb(128, 0, 0);">User Inserted Successfully</h1> 
   <% } %>
    <form method="POST" action="/addCandidate" >
     <h1>Add a Candidate</h1>   
    <input required  placeholder="Enter StudentID" name="stuID" type="number" /><br /> <br />
    <input  required minlength="3" placeholder="Enter Name" name="name" type="text" /><br /> <br />
    <button>Submit</button>

    </form>
    </font>
    </div>
  </body>
</html>
