<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center">
    <font color="f1f5f7">
      <h1>Vote :</h1>
      <% if(show){ %>
        <h1 style="color: rgb(128, 0, 0);"> <%=msg%> </h1> 
       <% } %>
      <form method="POST" action="/users/vote">
        <input required type="number" name="stuID" placeholder="Enter StudentID" />
        
        <% for(var cur in list ){ %>
          <br>
          <%=list[cur]%> <input type="radio" name="canID" value="<%=cur%>" >
        <% } %>
        
        <br><br>
        <button>Vote</button>   
      </form>  
    </font>     
    </div>
  </body>
</html>
