<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center">
    <font color="f1f5f7">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Menu</h1>
     <ul>
        <h2>&nbsp;<u>Admin Modules</u></h2>
        <a href="/" target="_blank" > Add Candidate</a><br>
        <a href="/report" target="_blank">Results</a>
    </ul>  
    <ul>
        <h2><u>User Modules</u></h2>
       <a href="/users/" target="_blank" > Voting</a>
        
    </ul> 
    </font>  
    </div>
  </body>
</html>
