<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <font color="f1f5f7">
      <div style="border: 1px solid black;">
   <h1>Poll Result</h1>
        
   <%if(data.length > 0) {%> 
    <div style="border: 1px solid rgb(248, 242, 242);">
      <!--<h1>Voting Report</h1> -->
      <% for(let a=0;a < data.length ; a++){ %>
               
               <h2> <%=data[a].name %> (<%=data[a].vote%>)   </h2>
       <%}%>
   </div>
    <%console.log(data)%>
    <h2><%=data.name%></h2> 
     <%}else{%>
        <h2 style="color: red;"> Election process not strated yet!   </h2>
      <%}%>

</div>
   <br><br>
   <!-- <div style="border: 1px solid rgb(248, 242, 242);">
   <h1>Voting Report</h1>
   <% for(let a=0;a < data.length ; a++){ %>
            
            <h2> <%=data[a].name %> (<%=data[a].vote%>)   </h2>
    <%}%>
</div> -->
</font>

</body>
</html>
